@using PerfumeStore.Application.Dtos.BrandDtos
@using PerfumeStore.Application.Dtos.FragranceNoteDtos
@using PerfumeStore.Application.Dtos.FragrancefamilyDtos

@model PaginatedResult<ResultProductDto>

<main>
    <section class="featured"style="margin-top:120px">
        <!-- <h2>Featured Products</h2> -->

        <div class="products-container">

            <aside class="filters-sidebar">
                <button class="close-filter"><i class="fas fa-times"></i></button>

                <div class="choosed" style="margin-left:-10px;width: 240px;padding: 10px 15px 20px;background-color: #f5f5f5;border-radius:10px;margin-bottom:10px;font-size:15px">
                    <strong style="color:black;padding-right:1px" class="title">Sizin seçiminiz:</strong>
                    <button type="reset" onclick="clearAll();" style="border:none;color:#666;background:none;line-height:19px;border-bottom:1px solid"> Hamısıni sil</button>
                    <ul id="selected_filter"></ul>
                </div>

                <div class="filter-group">
                    <h3>ƏTİRLƏR</h3>
                    <form method="get" asp-controller="Kataloq" asp-action="Index">
                        <div class="filter-section">
                            <h4>KATEQORİYALAR</h4>
                            @{
                                List<int> selectedCategories = ViewBag.SelectedCategories as List<int> ?? new List<int>();
                            }
                            <div class="checkbox-group">
                                <label class="custom-checkbox"style="display:none">
                                    <input type="checkbox" name="categoryId" value="" @(selectedCategories == null? "checked" : "") />
                                    <span>Hamısı</span>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="categoryId" value="1" @(selectedCategories.Contains(1) ? "checked" : "") />
                                    <span>Kişi ətirləri</span>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="categoryId" value="2" @(selectedCategories.Contains(2) ? "checked" : "") />
                                    <span>Qadın ətirləri</span>
                                </label>
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="categoryId" value="3" @(selectedCategories.Contains(3) ? "checked" : "") />
                                    <span>Unisex ətirləri</span>
                                </label>
                            </div>
                        </div>
                        <div class="filter-section">
                            <h4>BRENDLƏR</h4>
                            <div class="search-bar">
                                <input type="text" placeholder="">
                                <i class="fas fa-search"></i>
                            </div>
                            @{
                                var brands = ViewBag.Allbrands as List<ResultBrandDto>;
                                List<int> selected = ViewBag.SelectedBrand as List<int> ?? new List<int>();
                            }
                            @foreach (var brand in brands)
                            {
                                <div class="checkbox-group">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="brandId" value="@brand.Id"
                                        @(selected.Contains(brand.Id) ? "checked":"")/>
                                        <span>@brand.Name</span>
                                    </label>
                                </div>
                            }

                        </div>

                        <div class="filter-section">

                            <h4><i class="fas fa-spa"></i> Ailə</h4>

                            @{
                                List<int> selecteds = ViewBag.SelectedFamily  as List<int>?? new List<int>();
                                var allFamilies = ViewBag.AllFamilies as  List<ResultFragranceFamilyDto>;
                            }
                            @foreach (var family in allFamilies)
                            {
                                <div class="checkbox-group">

                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="fragranceFamilyId" value="@family.Id"
                                        @(selecteds.Contains (family.Id) ? "checked" : "") />
                                        <span>@family.Name</span>
                                    </label>
                                </div>
                            }

                        </div>

                        <div class="filter-section">

                            <h4><i class="fas fa-spa"></i> Notlar</h4>

                            @{
                                List<int> selectedsnote = ViewBag.SelectedNote as List<int> ?? new List<int>();
                                var allnotes = ViewBag.Notes as List<ResultFragranceNoteDto>;
                            }
                            @foreach (var note in allnotes)
                            {
                                <div class="checkbox-group">

                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="fragranceNoteId" value="@note.Id"
                                        @(ViewBag.SelectedNote?.Contains(note.Id)== true ? "checked" : "") />
                                        <span>@note.Name</span>
                                    </label>
                                </div>
                            }

                        </div>

                            <div class="filter-section">
                                <h4><i class="fas fa-tags"></i>QİYMƏT ARALIĞI</h4>
                                <div class="price-slider">
                                    <div class="range-container">
                                        <div class="range-slider">
                                            <div class="range-fill"></div>
                                            <input type="range" id="min-price-range" min="0" max="1000" value="0">
                                            <input type="range" id="max-price-range" min="0" max="1000" value="1000">
                                        </div>
                                    </div>
                                    <div class="price-inputs">
                                        <div class="input-group">
                                            <label>Min Qiymət</label>
                                            <span class="currency">₼</span>
                                            <input type="number" id="min-price" value="0" min="0" max="1000">
                                        </div>
                                        <span class="separator">-</span>
                                        <div class="input-group">
                                            <label>Mak Qiymət</label>
                                            <span class="currency">₼</span>
                                            <input type="number" id="max-price" value="1000" min="0" max="1000">
                                        </div>
                                    </div>
                                </div>
                            </div>

                         

                    </form>

                        <button type="submit" class="btn-apply-filters">Apply Filters</button>
                </div>
                
            </aside>

            <div class="product-grid">
                @if (Model?.Items != null && Model.Items.Any())
                {
                    @foreach (var product in Model.Items)
                    {
                        <article class="product-card"
                        data-gender="@product.CategoryName?.ToLower()"
                        data-family="@product.FamilyName?.ToLower()"
                        data-brand="@product.BrandName?.ToLower()"
                        data-price="@product.OriginalPrice">
                            <div class="product-image">
                                <img src="~/new-product/N1-2.png" alt="@product.Name" />
                                <div class="product-badges">
                                    @if (product.IsNew)
                                    {
                                        <span class="badge new">New</span>
                                    }
                                    @if (product.IsBestseller)
                                    {
                                        <span class="badge bestseller">Bestseller</span>
                                    }
                                </div>
                                <div class="product-actions">
                                    <button class="favorite-btn"><i class="far fa-heart"></i></button>
                                    <span class="product-disclaimer">Şəkil tanıtım xarakteri daşıyır</span>
                                    <button class="add-to-cart"><i class="fas fa-shopping-cart"></i></button>
                                </div>
                            </div>

                            <div class="product-info">
                                <h3>@product.Name</h3>
                                <p class="product-description">
                                    @product.Description
                                    <span class="fragrance-family">Family: @product.FamilyName</span>
                                    <span class="fragrance-notes">Key Notes: @product.ProductNotes</span>
                                </p>
                                <div class="product-price">
                                    <span class="current-price">@product.CurrentPrice ₼</span>
                                    <span class="original-price">@product.OriginalPrice ₼</span>
                                </div>
                            </div>
                        </article> 
                    }


                }
                else
                {
                    <p>Heç bir məhsul tapılmadı.</p>
                }
                

            </div>
         
           
        </div>
        @if (Model?.Items != null && Model.Items.Any())
        {

            <nav aria-label="Page navigation" style="margin-top:50px;font-size:25px;margin-left:600px">
                <ul class="pagination">
                    @if (Model.HasPrevious)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@(Model.CurrentPage - 1)&categoryId=@ViewBag.SelectedCategory" style="color:cadetblue">«</a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="?page=@i&categoryId=@ViewBag.SelectedCategory">@i</a>
                            </li>
                        }
                    }
                    @if (Model.HasNext)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@(Model.CurrentPage + 1)&categoryId=@ViewBag.SelectedCategory" style="color:cadetblue">»</a>
                        </li>
                    }
                </ul>
            </nav>

        }
    </section>
</main>

<button class="filter-toggle">
    <i class="fas fa-filter"></i>
    <span>Filters</span>
</button>

<!-- Categories Section -->
<section class="categories">
    <h2>
        Kateqoriyaya görə alış-veriş edin</h2>
    <div class="category-grid">
        <div class="category-card">
            <img src="https://readdy.ai/api/search-image?query=women%2520perfume%2520collection&width=400&height=300&seq=27&orientation=landscape" alt="Women's Perfumes">
            <div class="category-content">
                <h3>Qadın Ətirləri</h3>
                <a href="#" class="btn-primary">İndi Al</a>
            </div>
        </div>
        <div class="category-card">
            <img src="https://readdy.ai/api/search-image?query=men%2520perfume%2520collection&width=400&height=300&seq=28&orientation=landscape" alt="Men's Perfumes">
            <div class="category-content">
                <h3>Kişi Ətirləri</h3>
                <a href="#" class="btn-primary">İndi Al</a>
            </div>
        </div>
        <div class="category-card">
            <img src="https://readdy.ai/api/search-image?query=unisex%2520perfume%2520collection&width=400&height=300&seq=29&orientation=landscape" alt="Unisex Perfumes">
            <div class="category-content">
                <h3>Unisex Ətirlər</h3>
                <a href="#" class="btn-primary">İndi Al</a>
            </div>
        </div>
    </div>
</section>




<!-- Cart Sidebar -->
<div class="cart-sidebar">
    <div class="cart-header">
        <h3>Your Cart</h3>
        <button class="close-cart">&times;</button>
    </div>
    <div class="cart-items">
        <!-- Cart items will be added dynamically -->
    </div>
    <div class="cart-footer">
        <div class="cart-total">
            <span>Total:</span>
            <span>$0.00</span>
        </div>
        <button class="btn-checkout">Checkout</button>
    </div>
</div>
<script>
    document.querySelectorAll('input[name="categoryId"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            this.closest('form').submit();
        });
    });
</script>

<script>
    document.querySelectorAll('input[name="fragranceFamilyId"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            this.closest('form').submit();
        });
    });
</script>
<script>
    document.querySelectorAll('input[name="brandId"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            this.closest('form').submit();
        });
    });
</script>
<script>
    document.querySelectorAll('input[name=" fragranceNoteId"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            this.closest('form').submit();
        });
    });
</script>
<script>
    // Filter checkbox-larını dinləyirik
    document.addEventListener('DOMContentLoaded', function () {
        const filterInputs = document.querySelectorAll('input[type="checkbox"][name]');
        const selectedFilterList = document.getElementById('selected_filter');

        // function updateSelectedFilters() {
        //     selectedFilterList.innerHTML = ''; // əvvəlkiləri təmizlə

        //     filterInputs.forEach(input => {
        //         if (input.checked) {
        //             const label = input.closest('label').querySelector('span').innerText;

        //             const li = document.createElement('li');
        //             li.textContent = label;
        //             li.style.listStyle = 'disc';
        //             li.style.marginLeft = '20px';
        //             li.style.color = '#333';
                    
        //             li.style.color='Blue'


        //             selectedFilterList.appendChild(li);
        //         }
        //     });
        // }

        // Hər checkbox dəyişəndə siyahını yenilə
        filterInputs.forEach(input => {
            input.addEventListener('change', updateSelectedFilters);
        });

        // Səhifə yüklənəndə seçilmişlər varsa göstər
        updateSelectedFilters();
    });

    // Hamısını sil düyməsi üçün
    function clearAll() {
        const filterInputs = document.querySelectorAll('input[type="checkbox"][name]');
        filterInputs.forEach(input => {
            input.checked = false;
        });

        // Form təmizlənir və yenidən submit edilir (əgər istəyirsənsə)
        document.querySelector('form').submit();
    }
</script>

// <script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('input[name="fragranceNoteId"]');

        checkboxes.forEach(cb => {
            cb.addEventListener('change', () => {
                let selectedNotes = [];
                checkboxes.forEach(c => {
                    if (c.checked) {
                        selectedNotes.push(`fragranceNoteId=${c.value}`);
                    }
                });

                // URL-i yenidən qur
                const baseUrl = window.location.origin + window.location.pathname;
                const queryString = selectedNotes.join('&');
                const newUrl = queryString ? `${baseUrl}?${queryString}` : baseUrl;

                window.location.href = newUrl;
            });
        });
    });
// </script>
